* {
    margin: 0;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

#starting-screen {
    border: solid 0.1rem lightgrey;
    width: 60rem;
    height: 40rem;
    display: flex;
    margin: auto;
    margin-top: 20rem;
}

#menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#buttons {
    height: 50%;
    display: flex;
    flex-direction: column;
}
.grey {
    background-color: lightgrey;
}
.blue {
    background-color: rgba(54,122,230,255);
}
#buttons button {
    padding: 2rem;
    margin: 2rem auto;
    display: flex;
    height: 2rem;
    border: 0;
    border-radius: 0.5rem;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-weight: lighter;
}

#test {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 50%;
    margin: auto;
}
#test img {
    margin: auto;
    width: 40%;
    height: 70%;
}